@import 'phase1shared';

.mainCont{
	position: absolute;
	top: $toggleTop;
	left: $formL;
	width: $formW;
	margin-left: 5%;
}

.label{
	margin-right: 5px;
}

.btn{
	background-color: white;
	font-size: 2vw;
	display: inline-block;
	margin: 5px 5px 0px 0px;
	border: 1px solid white;
	padding: 3px;
	background-color: black;
	color: white;
}

.btn:hover{
	@extend %btnHover;
}

.error{
	margin-top: 3px;
	font-size: 2vmin;
	color: red;
}